
  
<div class="back">
<div class="container mt-5 border border-2 p-4">
  <form (ngSubmit)="savePatient()" #myForm="ngForm">
    <div class="mb-3">
      <label for="name" class="form-label">Name:</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="newPatient.name" name="name" required>
      <small class="text-muted">Enter your Name</small>
    </div>
  
    <div class="mb-3">
      <label for="address" class="form-label">Address:</label>
      <input type="text" class="form-control" id="address" [(ngModel)]="newPatient.address" name="address" required>
      <small class="text-muted">Enter your address</small>
    </div>
  
    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" class="form-control" id="email" [(ngModel)]="newPatient.email" name="email" required>
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
  
    <div class="mb-3">
      <label for="mobile" class="form-label">Mobile Number:</label>
      <input type="tel" class="form-control" id="mobile" [(ngModel)]="newPatient.mobile" name="mobile" pattern="[0-9]{10}" required>
      <small class="text-muted">Please enter a 10-digit mobile number.</small>
    </div>
  
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  
</div>
</div>